@model Patient

@Html.DisplayFor(model => model.Ticket)
@Html.DisplayFor(model => model.Nom)
@Html.DisplayFor(model => model.Prenom)
@Html.DisplayFor(model => model.Sexe)
@Html.DisplayFor(model => model.Age)
@Html.DisplayFor(model => model.Telephone)
@Html.DisplayFor(model => model.Adresse)

@Html.DisplayFor(model => model.Accueil)
@Html.DisplayFor(model => model.Service)
@Html.DisplayFor(model => model.Cout)

<form asp-action="Consultation">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Ticket" />
    <input type="hidden" asp-for="Receptionne" />
    <input type="hidden" asp-for="Accueil" />
    <input type="hidden" asp-for="ResultatConsultation" />
    <input type="hidden" asp-for="Service" />
    <input type="hidden" asp-for="Cout" />
    <input type="hidden" asp-for="Nom" />
    <input type="hidden" asp-for="Prenom" />
    <input type="hidden" asp-for="Sexe" />
    <input type="hidden" asp-for="Age" />
    <input type="hidden" asp-for="Telephone" />
    <input type="hidden" asp-for="Adresse" />
    <div class="form-group">
        <label asp-for="Finition" class="control-label"></label>
        <input asp-for="Finition" class="form-control" value="OK" />
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
