@model DataFileSerivce

@{
	Layout = "~/Views/Shared/_LayoutInfo.cshtml";
	ViewData["Title"] = "PATIENT";
}

<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<h1 class="card-title pb-0">Suivie Service : @DateTime.Today.ToString("dd/MM/yyyy")</h1><hr />
			</div>
			<div class="pt-0 card-body">
				<div class="row">
					<div class="col-md-12">
						<div class="table-responsive">
							<table class="table table-striped custom-table">
								<thead>
									<tr>
										<th>Service</th>
										<th>Nombre</th>
										<th>Recus</th>
										<th>Pas encore recus</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>CONSULTATION DE MEDECINE GENERALE</td>
										<td><span class="custom-badge status-blue">@Model.GENERALE.Count()</span></td>
										<td><span class="custom-badge status-green">@Model.GENERALE.Count(m => m.ReceptionneService == "OK") <i class="fa fa-check"></i></span></td>
										<td><span class="custom-badge status-red">@Model.GENERALE.Count(m => m.ReceptionneService == null) <i class="fa fa-times"></i></span></td>
									</tr>
									<tr>
										<td>MATERNITE</td>
										<td><span class="custom-badge status-blue">@Model.MATERNITE.Count()</span></td>
										<td><span class="custom-badge status-green">@Model.MATERNITE.Count(m => m.ReceptionneService == "OK") <i class="fa fa-check"></i></span></td>
										<td><span class="custom-badge status-red">@Model.MATERNITE.Count(m => m.ReceptionneService == null) <i class="fa fa-times"></i></span></td>
									</tr>
									<tr>
										<td>VACCINATION</td>
										<td><span class="custom-badge status-blue">@Model.VACCINATION.Count()</span></td>
										<td><span class="custom-badge status-green">@Model.VACCINATION.Count(m => m.ReceptionneService == "OK") <i class="fa fa-check"></i></span></td>
										<td><span class="custom-badge status-red">@Model.VACCINATION.Count(m => m.ReceptionneService == null) <i class="fa fa-times"></i></span></td>
									</tr>
									<tr>
										<td>PEDIATRIE</td>
										<td><span class="custom-badge status-blue">@Model.PEDIATRIE.Count()</span></td>
										<td><span class="custom-badge status-green">@Model.PEDIATRIE.Count(m => m.ReceptionneService == "OK") <i class="fa fa-check"></i></span></td>
										<td><span class="custom-badge status-red">@Model.PEDIATRIE.Count(m => m.ReceptionneService == null) <i class="fa fa-times"></i></span></td>
									</tr>
									<tr>
										<td>BLOC OPERATOIRE</td>
										<td><span class="custom-badge status-blue">@Model.BLOCOPERATOIR.Count()</span></td>
										<td><span class="custom-badge status-green">@Model.BLOCOPERATOIR.Count(m => m.ReceptionneService == "OK") <i class="fa fa-check"></i></span></td>
										<td><span class="custom-badge status-red">@Model.BLOCOPERATOIR.Count(m => m.ReceptionneService == null) <i class="fa fa-times"></i></span></td>
									</tr>
									<tr>
										<td>DENTAIRE</td>
										<td><span class="custom-badge status-blue">@Model.DENTAIRE.Count()</span></td>
										<td><span class="custom-badge status-green">@Model.DENTAIRE.Count(m => m.ReceptionneService == "OK") <i class="fa fa-check"></i></span></td>
										<td><span class="custom-badge status-red">@Model.DENTAIRE.Count(m => m.ReceptionneService == null) <i class="fa fa-times"></i></span></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>