@model IEnumerable<CWeb.Models.Personnel>
@{
    Layout = "~/Views/Shared/_LayoutInfo.cshtml";
    ViewData["Title"] = "INFORMATIQUE";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h1 class="card-title pb-0">Personnel</h1><hr />
            </div>
            <div class="pt-0 card-body">
                <div class="table-responsive">
                    <table class="table table-border table-hover  mb-0">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Login)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Poste)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nom)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Prenom)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Telephone)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Adresse)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Sexe)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr onclick="window.location = '/Informatique/Details/' + @item.Id;">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Login)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Poste)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nom)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Prenom)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Telephone)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Adresse)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Sexe)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
